/* INITIALISATION */

body {
    margin: 0;
    background-image: linear-gradient(rgb(254, 245, 255), rgb(255, 255, 255, 0.5));
}

img {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

/*--------*/
/* HEADER */
/*--------*/